    .book-container {
     width: 1400px;
    background: rgba(255, 255, 255, 1);
    min-height: 180px;
    max-height: 300px;
    padding: 50px 70px; 
    margin-left: -90px;
}

.booking-part{
display: flex;
flex-direction: row;
gap: 40px;
align-items: center;
}
.booking-part .fields{
  display: flex;
  flex-direction: column;
}
.booking-part select{
    width: 240px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover */
select:hover {
  border-color: #ff7a00;
  border-top: none;
  border-left: none;
    border-right: none;
}

/* when user clicks */
select:focus {
  border-color: #ff7a00;
}

.Booking-btn{
    background-color: #ff7a00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 170px;
height: 216px;
margin-top: -50px;
padding-top: 70px;
padding-right: 20px;
padding-bottom: 60px;
padding-left: 20px;
position: relative; 
z-index: 200px;
left: 70px;

opacity: 1;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;

}
.book-container .Booking-btn:hover {
    background-color: #e66a00;
}
.book-container .Booking-btn:active {
    background-color: #cc5c00;
}